<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="60" packages="de.comroid.util">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="logfile" filename="/var/bots/james/latest.log" bufferedIo="false" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <CobaltonLog4J2Appender name="CobaltonLog4J2Appender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </CobaltonLog4J2Appender>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="debug" />
            <AppenderRef ref="logfile" level="error" />
            <AppenderRef ref="CobaltonLog4J2Appender" level="error" />
        </Root>
    </Loggers>
</Configuration>
